shapely
scikit-image
pyclipper
lmdb
tqdm
numpy
rapidfuzz
opencv-python
opencv-contrib-python
cython
Pillow
pyyaml
requests
albumentations
albucore
packaging
paddlepaddle==2.5.1
paddleocr==2.7.0
flask==3.0.0
